<header>
	<mat-toolbar color="primary" class="header">
		<span>Pickem</span>
		<span class="spacer">
			<span class="nav-tool-items">
				<mat-icon routerLink="/" aria-label="home icon" class="clickable">home</mat-icon>
			</span>
		</span>
	</mat-toolbar>
</header>

<mat-sidenav-container>
	<mat-sidenav mode="side" #sidenav [(opened)]="navOpen" disableClose>
		<mat-nav-list>
			<a mat-list-item [routerLink]="'/route1'">Route 1</a>
			<a mat-list-item [routerLink]="'/route2'">Route 2</a>
			<a mat-list-item [routerLink]="'/route3'">Route 3</a>
		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content>
		<div style="height: 88vh; padding: 10px;">
			<router-outlet></router-outlet>
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>
